nav {
    position: fixed;
}

.popup-button {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    background:#3B4371;
    width: 50px;
    height: 40px;
}

.popup-box {
    background: #f5f5f5;
}

/* h4 {

} */

h1 {
    color: #3a4660;
    text-align: center;
}

.github-logo {
    width: 50px;
    height: 40px;
    margin-top: 5px;
    margin-left: 2px;
    float: left;
}

.landing-page-logo {
    width: 50px;
    height: 40px;
    margin-top: 5px;
    float: left;
}