input {
    border-radius: 3px;
    background-color: lightgray;
    margin: 2px;
    padding: 5px;
}

.form-error {
  color: #e62739;
}

.error-symbol {
  width: 15px;
  height: 15px;
  margin-right: 2px;
}

::-webkit-input-placeholder { 
    font-style: italic;
  }

