@media only screen and (min-width: 320px) {
   .top-container {
        padding: 1rem 0;
        background-color: #3B4371;
    }
    
    .header-landing {
        color: darkblue;
        text-align: center;
        margin-top: 16rem;
        opacity: 1.65;
    }
    
    .landing-button {
        font-size: .8rem;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
        color: #3B4371;
        background:white;
        margin: 0 1rem;
        padding: .8rem 1rem;
    }
    
    .landing-links {
        text-align: center;
    }
    
    #link {
        margin-top: .8rem;
        padding: 0 1rem;
        text-decoration: none;
        float: right;
        font-size: 1rem;
        color: white;
    }
    
    #link:hover {
        color: red;
    }
    
    .background {
        height: 100vh;
        /* opacity: 0.65; */
        background: url('https://imgur.com/G4esKqB.png');
        /* background-position: center; */
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .description-container {
        margin: 1rem 1rem;
        text-align: center;
        padding: 1rem 1rem;
        background: #89a4c7;
    }
    
    .description-header {
        color: black;
        margin: 0 0;
    }
    
    .description-p {
        line-height: 1.5;
    }
    
    .close-button {
        font-size: 1rem;
        border: 1px solid gray;
        border-radius: 5px;
        margin: auto;
        padding: 10px;
        color: white;
        background:#3B4371;
    }
}

@media only screen and (min-width: 768px) {
    .landing-button {
        padding: .6rem 1rem;
    }

    .header-landing {
        font-size: 3rem;
        margin-top: 22rem;
    }
    
    .description-p {
        line-height: 1.6;
        padding: 1rem 7rem;
    }
}

@media only screen and (min-width: 1024px) {
    .landing-button {
        font-size: 1rem;
    }

    #link {
        font-size: 1rem;
    }

    .header-landing {
        font-size: 3rem;
        margin-top: 15rem;
    }

    .description-header {
        font-size: 1.5rem;
    }

    .description-p {
        font-size: 1rem;
    }

    .close-button {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1444px) {
    .header-landing {
        margin-top: 25rem;
    }
}

