/* h1 {
    color: #3a4660;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
} */

.header-landing {
    color: darkblue;
    text-align: center;
    margin: 0;
    padding: 19rem 0;
    opacity: 1.65;
}

.background {
    opacity: 0.65;
    background: url('https://imgur.com/G4esKqB.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description-container {
    text-align: center;
    padding: 3rem 1rem;
    background: #89a4c7;
}

.description-header {
    margin: 0 0;
}

.link {
    text-decoration: none;
}