/* h1 {
    color: #3a4660;
    text-align: center;
    margin: 0;
    padding: 1rem 0;
} */

.top-container {
    padding: 1rem 0;
    background-color: #3B4371;
}

.header-landing {
    color: darkblue;
    text-align: center;
    margin: 0;
    padding: 19rem 0;
    opacity: 1.65;
}

.landing-button {
    margin: 0 1rem;
    padding: .2rem 1rem;
}

.landing-links {
    text-align: center;
}

#link {
    padding: 0 1rem;
    text-decoration: none;
    float: right;
    font-size: 1rem;
    color: white;
}

#link:hover {
    color: red;
}

.background {
    height: 100vh;
    /* opacity: 0.65; */
    background: url('https://imgur.com/G4esKqB.png');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.description-container {
    text-align: center;
    padding: 3rem 1rem;
    background: #89a4c7;
}

.description-header {
    margin: 0 0;
}

.toggle-background {
    background-color: black;
}