.login-form {
    border: 1px solid gray;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding-bottom: 15px;
    background-image: linear-gradient(120deg, #3B4371 0%, #313d4b 100%);
    color: white;
    width: 300px;
}

#login-button {
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    background: #4CAF50;;
    width: 100px;
    height: 25px;
}