.home-link {
    float: left;
}

/* .match-container {
    display: inline-block;
} */

.single-match-table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

.single-match-table td, .matches-table th {
    border: 1px solid #3a4660;
}

.single-match-table thead tr th{
    font-size: 25px;
    background-color: #3a4660;
    color: #e1e8f0;
    /* background-color: #608074;
    color: #3a4660; */
    padding: 20px;
}

td {
    padding: 25px;
    margin: 25px;
}

.single-match-table tr:nth-child(even) {
    background-color: #e1e8f0;
}

.single-match-table tr:nth-child(odd) {
    background-color: #d4d4dc;
}

.single-match-table tr:hover {
    background-color: #ddd;
}