.register-form {
    border: 1px solid gray;
    border-radius: 2px;
    margin: auto;
    background-image: linear-gradient(120deg, #F3904F 0%, #3B4371 100%);
    color: white;
}

#register-button {
    border: 1px solid gray;
    border-radius: 2px;
    color: white;
    background:#008CBA;
    width: 100px;
    height: 25px;
}