* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #c9af98;
  /* background: linear-gradient(to left, #d4d4dc, #91684a); */
}

 ul {
   list-style: none;
}

button {
  cursor: pointer;
}

/* unvisited link */
a:link {
  color: navy;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: red;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}

