* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, #393939, #2e3830);
}

 ul {
   list-style: none;
}

/* unvisited link */
a {
  color: navy;
}

/* visited link
a:visited {
  color: green;
} */

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: #ce9e62;
}

